#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    color: black;
    margin: 3rem auto;
  }
  
  #customers td, #customers th {
    border: 1rem solid #ddd;
    padding: 4rem;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: black;
  }